.meetup__container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}
.meetup__img{
    margin-top: 2rem;
    width: 250px;
    height: auto;
}
.meetup__data{
    text-align: center;
}