.meetup__container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}
.meetup__img{
    margin-top: 2rem;
    width: 250px;
    height: auto;
}
.meetup__data{
    text-align: center;
}
.meetup__button{
    outline: none;
    background-color: #cccccc;
    border: none;
    border-radius: 1rem;
    padding: .5rem 1rem .5rem 1rem;
    margin-bottom: 1rem;
}